<p id="notice"><%= notice %></p>

<h1>Favourite Products</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourite_products.each do |favourite_product| %>
      <tr>
        <td><%= favourite_product.user_id %></td>
        <td><%= favourite_product.product_id %></td>
        <td><%= link_to 'Show', favourite_product %></td>
        <td><%= link_to 'Edit', edit_favourite_product_path(favourite_product) %></td>
        <td><%= link_to 'Destroy', favourite_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourite Product', new_favourite_product_path %>
