<p>
  <strong>Name:</strong>
  <%= link_to product.name, category_product_path(product.category, product) %>
</p>

<p>
  <strong>Description:</strong>
  <%= product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(product.price, unit: "₽", separator: ",", delimiter: " ", format: "%n %u", precision: 0) %>
</p>

<% if controller_name == 'categories' %>
  <%= link_to 'Edit', edit_category_product_path(product.category) %>
<% else %>
  <%= link_to 'Edit', edit_product_path(product) %>
<% end %>
